body {
    background-image: url('../images/diamond_upholstery.png');
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}
h1{
    color: #ff4900;

}
.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}
#counter{
 margin-bottom:1em;
 color: #ff4900;
 height: 10em;
 line-height: 4em;
}
.content{
    position: absolute;
    top: 10em;
}
#main{

    margin-left: auto;
    margin-right: auto;
    

}
#main .itemlist{
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    margin-top: 1em;
    padding: 1em;
    font-size: 1.5em;
    list-style-type: none;
    width: 40em;
}
#new-item{
    margin-top: 1em;
    
    line-height: 2em;
    font-size: 2em;
    width: 31.3em;
    padding-left: 0.3em
}
.highlight-enter {
        -webkit-animation: highlight 0.5s linear;
        animation: highlight 0.5s linear;
      }
    
      @-webkit-keyframes highlight {
        from {
         
          margin-left: 100%;

        }
        to {
          
          margin-left: 0;
        }
      }
      
      @keyframes highlight {
        from {
         
          padding-left: 100%;
        }
        to {
          
          padding-left: 0;
        }
      }
@-webkit-keyframes bounceInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
    }
    
    60% {
        opacity: 1;
        -webkit-transform: translateX(-30px);
    }
    
    80% {
        -webkit-transform: translateX(10px);
    }
    
    100% {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes bounceInRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(2000px);
    }
    
    60% {
        opacity: 1;
        -moz-transform: translateX(-30px);
    }
    
    80% {
        -moz-transform: translateX(10px);
    }
    
    100% {
        -moz-transform: translateX(0);
    }
}

@-o-keyframes bounceInRight {
    0% {
        opacity: 0;
        -o-transform: translateX(2000px);
    }
    
    60% {
        opacity: 1;
        -o-transform: translateX(-30px);
    }
    
    80% {
        -o-transform: translateX(10px);
    }
    
    100% {
        -o-transform: translateX(0);
    }
}

@keyframes bounceInRight {
    0% {
        opacity: 0;
        transform: translateX(2000px);
    }
    
    60% {
        opacity: 1;
        transform: translateX(-30px);
    }
    
    80% {
        transform: translateX(10px);
    }
    
    100% {
        transform: translateX(0);
    }
}

.bounceInRight {
    -webkit-animation-name: bounceInRight;
    -moz-animation-name: bounceInRight;
    -o-animation-name: bounceInRight;
    animation-name: bounceInRight;
}

@-webkit-keyframes bounceOutRight {
    0% {
        -webkit-transform: translateX(0);
    }
    
    20% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
    }
    
    100% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
    }
}

@-moz-keyframes bounceOutRight {
    0% {
        -moz-transform: translateX(0);
    }
    
    20% {
        opacity: 1;
        -moz-transform: translateX(-20px);
    }
    
    100% {
        opacity: 0;
        -moz-transform: translateX(2000px);
    }
}

@-o-keyframes bounceOutRight {
    0% {
        -o-transform: translateX(0);
    }
    
    20% {
        opacity: 1;
        -o-transform: translateX(-20px);
    }
    
    100% {
        opacity: 0;
        -o-transform: translateX(2000px);
    }
}

@keyframes bounceOutRight {
    0% {
        transform: translateX(0);
    }
    
    20% {
        opacity: 1;
        transform: translateX(-20px);
    }
    
    100% {
        opacity: 0;
        transform: translateX(2000px);
    }
}

.bounceOutRight {
    -webkit-animation-name: bounceOutRight;
    -moz-animation-name: bounceOutRight;
    -o-animation-name: bounceOutRight;
    animation-name: bounceOutRight;
}
.is-animated {
  font-family: 'Helvetica Neue';
  font-weight: bold;
  padding: 0;
  position: relative;

}
.is-animated span {
  display: block;
  width: 100px;
}
.property {
  font-size: 300%;
  padding: none;
  border-right: 2px solid #000;
  width: 0;
  overflow: hidden;
  float: left;
  -webkit-animation-name: expandProperty;
  -webkit-animation-delay: .3s;
  -webkit-animation-duration: .8s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
}
.value {
padding-left: 0.3em;
  font-size: 300%;
  float: left;
  overflow: hidden;
}
.value span {
  margin-left: -40%;
  -webkit-animation-name: expandValue;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
}
@-webkit-keyframes expandProperty {
  from {
    width: 0px;
  }
  to {
    width: 130px;
  }
}
@-webkit-keyframes expandValue {
  from {
    margin-left: -130px;
  }
  to {
    margin-left: 0;
  }
}