<style>#forkongithub a{background:#FF4900;color:#fff;text-decoration:none;font-family:arial, sans-serif;text-align:center;font-weight:bold;padding:5px 40px;font-size:1rem;line-height:2rem;position:relative;transition:0.5s;}#forkongithub a:hover{background:#000000;color:#fff;}#forkongithub a::before,#forkongithub a::after{content:"";width:100%;display:block;position:absolute;top:1px;left:0;height:1px;background:#fff;}#forkongithub a::after{bottom:1px;top:auto;}@media screen and (min-width:800px){#forkongithub{position:absolute;display:block;top:0;right:0;width:200px;overflow:hidden;height:200px;}#forkongithub a{width:200px;position:absolute;top:60px;right:-60px;transform:rotate(45deg);-webkit-transform:rotate(45deg);box-shadow:4px 4px 10px rgba(0,0,0,0.8);}}</style><span id="forkongithub"><a href="https://github.com/mkbehbehani/nectarine">Fork me on GitHub</a></span>

<div class="row">
  <div class="col-lg-6">
  	<h1>Nectarine!</h1>
  	<h1>Recent code pushes to the {{repo}} repository by {{user}}:</h1>
    <gh-visualization val="data"></gh-visualization>
	<form ng-submit="getCommitData()" id="select_repo">
	    <p class="error">{{error}}</p>
	    User: <input ng-model="user"></input>
	    <br>
	    Repo: <input ng-model="repo"></input>
	    <input type="submit" value="Go!">
	    
	</form>

  </div>
  <div class="col-lg-6" id="postcontainer">
  	<div class="container" id="counter">
			  <div class="property is-animated">
			    <span>Posts</span>
			  </div>
			  <div class="value is-animated">
			    <span>{{items.length}}</span>
			  </div>
		</div>
	  <div id="spin"></div>
	  <input class="hidden" type="file" accept="image/*" capture="camera" id="file-upload">
	  <br/>
	  <img class="pano" id="pano" />
  	<form id="item-form" ng-submit="addItem()">
		<input id="new-item" placeholder="Add something!" ng-model="newItem" autofocus>
	</form>
				
	<div class="itemlist" ng-repeat="item in items  | orderBy:'-created_at' " ng-animate="'highlight'">
        {{item.desc}}
	</div>
  </div>
</div>
