
<div class="row-fluid" id="main" ng-controller="MainCtrl">
	<div class="span6 offset3 content">
		<h1>Nectarine! </h1>
		  
			  	<div id="counter">
					  <div class="property is-animated">
					    <span>Posts</span>
					  </div>
					  <div class="value is-animated">
					  	<span>{{items.length}}</span>
			    	  </div>
		    	</div> <!-- !counter -->
    		
		<form id="item-form" ng-submit="addItem()">
			<input id="new-item" placeholder="Add something!" ng-model="newItem" autofocus>
		</form>
		
		
	  	<div class="itemlist" ng-repeat="item in items  | orderBy:'-created_at' " ng-animate="'highlight'">

	  		{{item.desc}}
	  	</div>

	</div>

</div>



